format = """
$username\
$hostname\
$localip\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$line_break\
$time\
$status\
$shell\
$character"""

[line_break]
disabled = true
